<ion-content [fullscreen]="true">
  <body>
    <div class="centeredContainer">
      <div class="logoDiv">
        <img class="logo" src="./assets/icon/logo.png">
      </div>
      <div class="centeredText">
        <p class="title">KID KURIOUS</p>      
      </div>
      <div class="owl">
        <img class="animatedImage" src="./assets/png/Owl.png">
      </div>
      <div class="dog">
        <img class="animatedImage" src="./assets/png/Dog.png">
      </div>
      <div class="spinnerDiv">
        <ion-spinner class="spinner" name="crescent"></ion-spinner>
      </div>
    </div>
  </body>
  
</ion-content>
